* {
    box-sizing: border-box;
}

::selection {
    color: #c5abf4;
    background-color: #444;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #fafafa;
    background-color: #111;
}

main {
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    background-color: #222;
    overflow: auto;
}

.giantbomb-results {
    width: 50%;
    padding: 20px;
    text-align: left;
    padding-right: 20px;
}

.giantbomb-info {
    margin-bottom: 1.5rem;
}

.twitch-results {
    width: 50%;
    margin-top: 10px;
    padding-left: 20px;
}

.twitch-stream-results {
    margin-bottom: 40px;
}

.display-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.clear {
    clear: both;
}

header {
    margin-top: 50px;
}

h1 {
    font-family: 'Bungee', serif;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px #c5abf4;
}

h2 {
    font-family: 'Bungee', serif;
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

p { padding-bottom: 0.5rem; line-height: 1.5rem; }

b {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; 
    background-color: #6441a4;
    padding: 1px 3px;
    margin-right: 5px;
}

i { font-style: italic; }

u { text-decoration: underline; }

.search-term {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; 
    color: #bbffaf;
    padding: 1px 5px;
}

a:link, a:visited {
    color: #c5abf4;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    color: #bbffaf;
}

.external-links {
    margin-top: 30px;
}

a.external {
    border: 1px solid #c5abf4;
    padding: 5px 15px;
    margin-right: 10px;
    transition: all 0.3s;
}

a.external:hover, a.external:focus {
    color: #333;
    background-color: #c5abf4;
}

.page-blurb p {
    font-size: 1.4rem;
    line-height: 2rem;
}

legend {
    visibility: hidden;
}

.game-form {
    max-width: 100%;
}

.search-container {
    margin: 20px auto;
    width: 75%;
}

input.game-search {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.3rem;
    border: 1px solid #333;
    color: #fafafa;
    background-color: #333;
    box-shadow: 2px 2px #444;
    transition: all 0.3s;
}

input.game-search:hover {
    background-color: #444;
    border: 1px solid #333;
    box-shadow: 2px 2px #333;
}

.game-form button {
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 10px 0px;
    background-color: #111;
    color: #fafafa;
    text-transform: uppercase;
    border: 1px solid #111;
    padding: 20px;
    width: 100%;
    box-shadow: 2px 2px #444;
    cursor: pointer;
    transition: all 0.3s;
}

.game-form button:hover, .game-form button:focus {
    color: #fafafa;
    background-color: #6441a4;
    border: 1px solid #6441a4;
    box-shadow: 1px solid #000;
}

.searched-for {
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 40px 0px;
}

.game-thumbnail {
    float: right;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

footer {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 100px;
    font-size: 0.8rem;
    text-align: center;
}

.iframe-container {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 30px;
}

.iframe-container iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
    .display-info {
        flex-direction: column;
    }

    article.giantbomb-results, article.twitch-results {
        width: 100%;
    }
}

@media (min-width: 480px) {
    .game-search {
        width: 400px;
    }
}

