* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}

main {
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;
    outline: 1px green solid;
}

article.giantbomb-results {
    float: left;
    width: 50%;
    outline: 1px blue solid;
    padding: 18px;
    text-align: left;
}

article.twitch-clip-results {
    float: right;
    width: 50%;
    height: 340px;
    outline: 1px red solid;
    position: relative;
    overflow: hidden;
    padding: 18px;
    /* padding-top: 56.25%; */
}

.clear {
    clear: both;
}

header {
    /* margin-top: 100px; */
}

h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 5rem;
}

.page-blurb {
    font-size: 1.4rem;
}

legend {
    visibility: hidden;
}

.game-form {
    max-width: 100%;
}

.search-container {
    margin: 30px 25%;
    max-width: 50%;
    max-height: 50%;
    background-color: gray;
}

/* .game-fieldset {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
} */

input.game-search, label.game-search {
    max-width: 200px;
    width: 100%;
}

@media (max-width: 768px) {
    article.giantbomb-results, article.twitch-clip-results {
        width: 100%;
    }
    
    h1 {
        color: red;
    }
}

@media (min-width: 480px) {
    .game-search {
        width: 400px;
    }
}

